In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
mydata = np.random.randn(4,3) 
#產生一個array
#randn 平均值0 標準差是1
#四列三行

In [4]:
mydata

array([[ 0.59392889, -0.46962516, -0.77860477],
       [ 0.16313824,  1.72534946,  1.06920754],
       [ 1.17112627, -1.7013407 , -0.5180835 ],
       [ 0.62184486,  0.69549555, -1.38805676]])

In [5]:
list("ABCDE") #字串和list轉換

['A', 'B', 'C', 'D', 'E']

新dataframe = pd.DataFrame(array, columns=項目list)

In [6]:
df1 = pd.DataFrame(mydata, columns=list("ABC"))

In [7]:
df1

          A         B         C
0  0.593929 -0.469625 -0.778605
1  0.163138  1.725349  1.069208
2  1.171126 -1.701341 -0.518084
3  0.621845  0.695496 -1.388057

In [8]:
df2 = pd.DataFrame(np.random.randn(3,3), columns=list("ABC"))

In [9]:
df2

          A         B         C
0 -1.204166  0.125426  1.432330
1  1.190952  0.844922  1.561366
2 -0.166206  0.799002 -0.375162

合併

axis=0 : 上下(列)的方向

In [10]:
df3 = pd.concat([df1,df2], axis=0)

In [11]:
df3

          A         B         C
0  0.593929 -0.469625 -0.778605
1  0.163138  1.725349  1.069208
2  1.171126 -1.701341 -0.518084
3  0.621845  0.695496 -1.388057
0 -1.204166  0.125426  1.432330
1  1.190952  0.844922  1.561366
2 -0.166206  0.799002 -0.375162

axis=1 : 左右(行)的方向

In [12]:
df4 = pd.concat([df1,df2], axis=1)

In [13]:
df4

          A         B         C         A         B         C
0  0.593929 -0.469625 -0.778605 -1.204166  0.125426  1.432330
1  0.163138  1.725349  1.069208  1.190952  0.844922  1.561366
2  1.171126 -1.701341 -0.518084 -0.166206  0.799002 -0.375162
3  0.621845  0.695496 -1.388057       NaN       NaN       NaN

改index

In [14]:
df3.index = range(7)

In [15]:
df3

          A         B         C
0  0.593929 -0.469625 -0.778605
1  0.163138  1.725349  1.069208
2  1.171126 -1.701341 -0.518084
3  0.621845  0.695496 -1.388057
4 -1.204166  0.125426  1.432330
5  1.190952  0.844922  1.561366
6 -0.166206  0.799002 -0.375162

大小不一也可以拚起來

In [16]:
df4 = pd.concat([df1, df2],axis=1)

In [17]:
df4

          A         B         C         A         B         C
0  0.593929 -0.469625 -0.778605 -1.204166  0.125426  1.432330
1  0.163138  1.725349  1.069208  1.190952  0.844922  1.561366
2  1.171126 -1.701341 -0.518084 -0.166206  0.799002 -0.375162
3  0.621845  0.695496 -1.388057       NaN       NaN       NaN

In [18]:
df4.values

array([[ 0.59392889, -0.46962516, -0.77860477, -1.2041657 ,  0.12542563,
         1.4323304 ],
       [ 0.16313824,  1.72534946,  1.06920754,  1.19095239,  0.8449216 ,
         1.56136582],
       [ 1.17112627, -1.7013407 , -0.5180835 , -0.16620574,  0.79900231,
        -0.37516184],
       [ 0.62184486,  0.69549555, -1.38805676,         nan,         nan,
                nan]])