In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
mydata = pd.DataFrame(np.random.randn(5,3),index=list(range(1,6)),columns=list("ABC"))

In [4]:
mydata

          A         B         C
1 -2.064376  2.253502 -0.269624
2  3.057710 -0.635419 -0.605397
3 -0.375732 -0.568144 -0.308271
4  1.020864  0.836190  2.147991
5 -0.138653  0.270069  0.191092

要找B那一欄的資料 大於0的

In [5]:
mydata[mydata.B>0]

          A         B         C
1 -2.064376  2.253502 -0.269624
4  1.020864  0.836190  2.147991
5 -0.138653  0.270069  0.191092

想改動B>0的資料中的C欄位 把他們的C欄位變成0

In [8]:
mydata[mydata.B>0]["C"] = 0

C:\Users\User\AppData\Local\Temp/ipykernel_21220/661487008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydata[mydata.B>0]["C"] = 0

出現警告

In [9]:
mydata

          A         B         C
1 -2.064376  2.253502 -0.269624
2  3.057710 -0.635419 -0.605397
3 -0.375732 -0.568144 -0.308271
4  1.020864  0.836190  2.147991
5 -0.138653  0.270069  0.191092

只是產生一個新的dataframe  沒有改動

要用loc

In [12]:
mydata.loc[2:3] #取index 2~3

          A         B         C
2  3.057710 -0.635419 -0.605397
3 -0.375732 -0.568144 -0.308271

In [16]:
mydata.loc[2:4,"B":"C"]  #取index 2~3中的 B~C

          B         C
2 -0.635419 -0.605397
3 -0.568144 -0.308271
4  0.836190  2.147991

再試一次   

B>0的資料中的C欄位 把他們的C欄位變成0

In [19]:
mydata.loc[mydata.B>0,"C"] = 0

In [20]:
mydata

          A         B         C
1 -2.064376  2.253502  0.000000
2  3.057710 -0.635419 -0.605397
3 -0.375732 -0.568144 -0.308271
4  1.020864  0.836190  0.000000
5 -0.138653  0.270069  0.000000

成功了 也沒有警告

## 在Pandas裡面，找東西用loc，改動數字才會成功